@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&family=Roboto:wght@100;300;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.logoKeep {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoKeep .i {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;

}

.logoKeep .gb_Ld:hover {
    text-decoration: underline;
}

.logoKeep svg:hover {
    background-color: rgba(129, 127, 127, 0.25);
}

.logoKeep span {
    cursor: pointer;
    font-size: 24px;
    margin-left: 15px;

}

.logoKeep img {
    cursor: pointer;
}

.search {
    background-color: rgba(142, 137, 137, 0.188);
    width: 700px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    margin-left: 30px;
    flex-direction: row;
    align-items: center;
    box-shadow: -6px 3px 8px 2px rgba(150, 150, 150, 0.39);
    -webkit-box-shadow: -6px 3px 8px 2px rgba(150, 150, 150, 0.39);
    -moz-box-shadow: -6px 3px 8px 2px rgba(150, 150, 150, 0.39);
}

.search input {
    border: none;
    height: 100%;
    width: 80%;
    background-color: transparent;
    font-size: 20px;

}

.search svg {
    margin: 0 20px 0 20px;
    font-size: 20px;
    fill: grey;
}

input:focus {
    outline: none;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;


}

.icons span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 500;
    color: gray;
    padding: 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-right: 25px;
    border-radius: 50%;
}

.icons span:hover {
    background-color: rgba(128, 128, 128, 0.201);

}

.zaio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 90px;
}

.zaio div {
    display: flex;
    border-radius: 8px;
    padding: 5px;
    flex-direction: row;
    align-items: center;
}

.zaio div img {
    height: 25px;
    cursor: pointer;
}

.zaio div span {
    font-size: 20px;
    color: rgba(29, 29, 29, 0.672);
    ;
}

.zaio div {
    border: 1px solid rgba(29, 29, 29, 0.672);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.261);
}

.side {
    cursor: pointer;
    padding-top: 10px;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 100ms;
    box-shadow: 11px 3px 5px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 11px 3px 5px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 11px 3px 5px 0px rgba(0, 0, 0, 0.37);
}

/* .side:hover{
width: 20vw;
} */

.side .one {
    width: 80%px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    align-items: center;

    display: flex;
    flex-direction: row;
}

.side .one:hover {
    background-color: #feefc3;
    border-radius: 0 30px 30px 0;
    /* width: 80%; */
    margin-left: 0px;
    transition: 100ms;
}

.side .one .space {
    margin: 0 18px 0 12px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(94, 99, 104);
}

.hide {
    /* opacity: 0; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    /* background-color: rgb(255, 127, 127); */
}

/* .hide:hover{
    opacity: 1;
    transition: 100ms;
} */

main {
    display: flex;
    flex-direction: row;
}

div .img {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNOSAyMWMwIC41NS40NSAxIDEgMWg0Yy41NSAwIDEtLjQ1IDEtMXYtMUg5djF6bTMtMTlDOC4xNCAyIDUgNS4xNCA1IDljMCAyLjM4IDEuMTkgNC40NyAzIDUuNzRWMTdjMCAuNTUuNDUgMSAxIDFoNmMuNTUgMCAxLS40NSAxLTF2LTIuMjZjMS44MS0xLjI3IDMtMy4zNiAzLTUuNzQgMC0zLjg2LTMuMTQtNy03LTd6bTIuODUgMTEuMWwtLjg1LjZWMTZoLTR2LTIuM2wtLjg1LS42QTQuOTk3IDQuOTk3IDAgMCAxIDcgOWMwLTIuNzYgMi4yNC01IDUtNXM1IDIuMjQgNSA1YzAgMS42My0uOCAzLjE2LTIuMTUgNC4xeiIvPgo8L3N2Zz4K);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    background-size: cover;
    height: 220px;
    width: 220px;
}

.sec .form{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 48px;
    width: 600px;
    padding-left: 8px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    border: none;
    margin-left: 160px;
    box-shadow: -2px 2px 8px 2px rgba(0,0,0,0.51);
-webkit-box-shadow: -2px 2px 8px 2px rgba(0,0,0,0.51);
-moz-box-shadow: -2px 2px 8px 2px rgba(0,0,0,0.51);
}

.sec .form input{
    font-size: 18px;
    font-weight: bolder;
    height: 100%;
    width: 60%;
    
   
}

.sec div input{
   border: none;
}
.form div{
    margin-right: 20px;
}
.form div span{
    cursor: pointer;
    margin-left: 20px;
    color: rgb(74, 72, 72);
    font-size: 25px;
    padding: 8px;
    border-radius: 50%;
    /* background-color: yellow; */
}
.form div span:hover{
    background-color: rgba(74, 72, 72, 0.151);

}

.bulb{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 100px;
    width: 80vw;
    height: 80vh;
}

.bulb h2{
    font-weight: 400;
    opacity: 0.7;
}